@import '/src/index.scss';

.team-list {
    margin: 0 2em;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 3px;



}

.team-member{
    background-color: rgb(230, 233, 239);
    padding: .2em;
    margin: .2em;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.team-member p {
    margin: auto;

}

.delete{
    font-weight: 200;
    margin: 0 .5em;

}
.delete:hover{
    cursor: pointer;
    color: $important-color;

}


.team-add{
    padding: 1em 0;
}



@media (max-width:540px) { 
    .team-list {
        margin: 1em auto;

    }
  }
  