@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300;400&display=swap');

$body-font: Roboto, sans-serif;
$header-font: Poppins, helvetica, sans-serif;
$primary-color:   rgb(30, 53, 63);
$primary-background: rgb(230, 233, 239);
$mobile-query: 540px;
$important-color: rgb(181, 60, 60);



body {
  margin: 0;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  padding:  0 .4em;
  margin: 0 .4em;
}

h1{
  color:$primary-color;
}
h2 {
  color:$primary-color;
}
p {
  color:$primary-color;
}

button {
  color: rgb(47, 47, 89);
  font-weight: 600;
  min-height: 2em;
  background-color:rgb(255, 255, 255) ;
  border: 2px solid $primary-color;
  border-radius: 8px;
  margin: .5em;
  cursor: pointer;
  min-width: 2em;
  padding: .4em;


}
button:hover{
  background-color:rgb(233, 233, 233) ;
}

.primary-btn{
  color:$important-color;
}

input[type="text"]{
  padding: .5em;
  border: 1px solid $primary-color;
  border-radius: 5px;


}
input[type="text"]:focus{
  border: none;
  outline: 1px solid $important-color;
  margin: 1px;


}


.title {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
  
}

img{
  max-width: 100px;
  max-height: 50px;
  margin-right: 2em;
}

.highlight {
  color: $primary-color;
  font-weight: 600;
}
